<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HTML Forms</h2>

    <form action="/submit",method='post'>
        <label for="Science">Science : </label><br>
        <input type="text" id="science" name="science" value="0"><br>
        <label for="Maths">Maths : </label><br>
        <input type="text" id="Maths" name="Maths"><br><br>

        <label for="C">C : </label><br>
        <input type="text" id="C" name="C" value="0"><br><br>
        <label for="dataScience">dataScience : </label><br>
        <input type="text" id="dataScience" name="dataScience" values="0"><br><br>
        <input type="Submit" type="Submit">
        




    </form>
    <p> If you Click the "Submit" button, the form-data will be sent to a page called </p>
    
</body>
</html>